.card_contents {
  height: 161px;
  padding: 32px 16px 20px 17px;
  margin-bottom: 26px;
  background: #F4F4F4;
  border-radius: 10px;
  position: relative;
}
.card_description {
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 29px;
  font-weight: normal;
  opacity: 0.4;
}
.card_avatar {
  width: 30px;
  height: 30px;
}
.card_detail {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}
.card_top {
  display: flex;
  justify-content: space-between;
}

.add_board {
  height: 161px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  display: table;
  width: 100%;
}
.new_board {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}